
fretboard/views/.DS_Store

fretboard/templatetags/.DS_Store

build/

dist/

*.pyc

.DS_Store

*.gz

django_fretboard.egg-info/PKG-INFO

django_fretboard.egg-info/top_level.txt

django_fretboard.egg-info/requires.txt

django_fretboard.egg-info/not-zip-safe

django_fretboard.egg-info/dependency_links.txt

django_fretboard.egg-info/SOURCES.txt
