{% load fretboard_tags %}

<li>{% get_new_topics_count as topic_count %}
  <a href="{% url 'new_topics' %}">
    <span class="left counter" title="updated recently">{{ topic_count }}</span>
    New topics
  </a>
</li>
{% if authenticated_request %}
  <li>{% get_new_topics_count last_seen for_member=user.id as topic_count %}
    <a href="{% url 'member_topics' %}">
      <span class="left counter" title="updated recently">{{ topic_count }}</span>
      Topics you started
    </a>
  </li>
{% endif %}